<button type="button" class="btn btn-primary text-uppercase new_user" (click)="addUser()">add user</button>

<table class="table table-striped table-bordered" width="100%">
  <thead>
    <tr>
      <td></td>
      <td>Name</td>
      <td>Email</td>
      <td>Phone</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of (users | async)?.list; let i = index">
    <td>{{i + 1}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>
      <div class="btn-group">
        <button class="btn btn-primary" (click)="editUser(user)">{{'edit' | uppercase}}</button>
        <button class="btn btn-danger" (click)="deleteUser(user)">{{'Del' | uppercase}}</button>
        <!--<button class="btn btn-danger" (click)="addUser()">{{'Del' | uppercase}}</button>-->
      </div>
    </td>
  </tr>
  </tbody>
</table>

<app-user-modal></app-user-modal>

